# POSTTEST 5 KB
## Supervised Learning
## Nama  : ANDI NUR FADILAH
## NIM   : 2109106015
## Kelas : INFORMATIKA A 2021

## Mengimport library yang digunakan

In [70]:
import pandas as pd

## Membaca sekaligus Menampilkan 10 Data Awal pada Dataset

In [71]:
df = pd.read_csv("Top 2000 Universities of the World.csv")
df.info()
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   World Rank                 2000 non-null   int64
 1   Institution                2000 non-null   object
 2   Country                    2000 non-null   object
 3   National Rank              2000 non-null   int64
 4   Quality of Education Rank  2000 non-null   object
 5   Alumni Employment Rank     2000 non-null   object
 6   Quality of Faculty Rank    2000 non-null   object
 7   Research Performance Rank  2000 non-null   object
 8   Score                      2000 non-null   float64
dtypes: float64(1), int64(2), object(6)
memory usage: 140.8+ KB

,World Rank,Institution,Country,National Rank,Quality of Education Rank,Alumni Employment Rank,Quality of Faculty Rank,Research Performance Rank,Score
0,1,Harvard University,USA,1,1,1,1,1,100.0
1,2,Massachusetts Institute of Technology,USA,2,4,12,2,8,96.7
2,3,Stanford University,USA,3,10,4,3,2,95.1
3,4,University of Cambridge,United Kingdom,1,3,25,4,10,94.1
4,5,University of Oxford,United Kingdom,2,7,27,9,4,93.3
5,6,Princeton University,USA,4,5,15,7,70,92.6
6,7,Columbia University,USA,5,11,14,10,15,92.0
7,8,University of Chicago,USA,6,8,16,27,22,91.5
8,9,University of Pennsylvania,USA,7,14,10,42,12,91.1
9,10,Yale University,USA,8,6,36,13,20,90.7

## Melakukan Data Cleaning pada Nilai NULL (JIKA ADA)

In [72]:
# Mengecek atribut mana yang memiliki Nilai NULL
df.isna().sum()

World Rank                   0
Institution                  0
Country                      0
National Rank                0
Quality of Education Rank    0
Alumni Employment Rank       0
Quality of Faculty Rank      0
Research Performance Rank    0
Score                        0
dtype: int64

## Melakukan Data Cleaning pada Nilai Duplikat (JIKA ADA)

In [73]:
df[df.duplicated()]

Empty DataFrame
Columns: [World Rank, Institution, Country, National Rank, Quality of Education Rank, Alumni Employment Rank, Quality of Faculty Rank, Research Performance Rank, Score]
Index: []

In [74]:
df.duplicated().sum()

0

## Menggunakan salah satu tipe pendekatan pada Supervised Learning (Classification)

In [75]:
# Data Split
X = df[['World Rank', 'National Rank', 'Score']]
Y = df['Country']

In [76]:
from sklearn.model_selection import train_test_split

In [77]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state=0)

## Menggunakan minimal 2 algoritma pada Classification, untuk membandingkan score/hasil terbaik antar algoritma.
## Algoritma yang dipilih adalah K-Nearest Neightbor, Decision Tree, dan Naïve Bayes.

## 1. Algoritma K-Nearest Neightbor

In [78]:
from sklearn.neighbors import KNeighborsClassifier

In [79]:
modelKNN = KNeighborsClassifier(n_neighbors = 5)

In [80]:
modelKNN.fit(X_train, Y_train)

KNeighborsClassifier()

## Menampilkan Score Model KNN pada Data Training

In [81]:
modelKNN.score(X_train, Y_train)

0.58

## Menampilkan Score Model KNN pada Data Testing

In [82]:
modelKNN.score(X_test, Y_test)

0.4116666666666667

## 2. Algoritma Decision Tree

In [83]:
from sklearn.tree import DecisionTreeClassifier

In [84]:
modelDT = DecisionTreeClassifier().fit(X_train, Y_train)

## Menampilkan Score Decision Tree pada Data Training

In [85]:
modelDT.score(X_train, Y_train)

1.0

## Menampilkan Score Decision Tree pada Data Testing

In [86]:
modelDT.score(X_test, Y_test)

0.49833333333333335

## 3. Algoritma Naïve Bayes

In [87]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [88]:
gnb = GaussianNB().fit(X_train, Y_train)

In [89]:
y_predict = gnb.predict(X_test)

## Menampilkan Score Naïve Bayes pada Data Training

In [90]:
gnb.score(X_train, Y_train)

0.2835714285714286

## Menampilkan Score Naïve Bayes pada Data Testing

In [91]:
gnb.score(X_test, Y_test)

0.22

## Membandingkan Score Antar Algoritma K-Nearest Neightbor, Decision Tree, dan Naïve Bayes.

In [92]:
#Score Algoritma KNN
print("===========================================")
print("               ALGORITMA KNN               ")
print("===========================================")
print("Score Data Training : ", modelKNN.score(X_train, Y_train))
print("Score Data Testing  : ", modelKNN.score(X_test, Y_test))
print("===========================================")
print("")
#Score Algortima Decision Tree
print("===========================================")
print("          ALGORITMA Decision Tree          ")
print("===========================================")
print("Score Data Training : ", modelDT.score(X_train, Y_train))
print("Score Data Testing  : ", modelDT.score(X_test, Y_test))
print("===========================================")
print("")
#Score Algoritma Naive Bayes
print("===========================================")
print("           ALGORITMA Naïve Bayes           ")
print("===========================================")
print("Score Data Training : ", gnb.score(X_train, Y_train))
print("Score Data Testing  : ", gnb.score(X_test, Y_test))
print("===========================================")

===========================================
               ALGORITMA KNN
===========================================
Score Data Training :  0.58
Score Data Testing  :  0.4116666666666667
===========================================

===========================================
          ALGORITMA Decision Tree
===========================================
Score Data Training :  1.0
Score Data Testing  :  0.49833333333333335
===========================================

===========================================
           ALGORITMA Naïve Bayes
===========================================
Score Data Training :  0.2835714285714286
Score Data Testing  :  0.22
===========================================